.header {
    background-color: rgb(0, 3, 8);
    background-image: url("/assets/images/carNutz.png"); 
    background-size: 100%;
    color: rgb(14, 22, 187);
    min-height: 200px;
    padding: 120px 20px; 
    padding-bottom: 120px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 4rem;
  }